src/main/resources/xsd/transaction.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://techprimers.com/spring-boot-soap-example"
           elementFormDefault="qualified">

    <xs:element name="getTransactionDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>